body {
    font-size: 80px;
}

#pic1 {
    height: 300px;
    width: 200px;
}

#pic2 {
    height: 300px;
    width: 200px;
}

#pic3 {
    height: 300px;
    width: 200px;
}

#pic4 {
    height: 300px;
    width: 200px;
}

#pic5 {
    height: 300px;
    width: 200px;
}

#slide1 {
    height: 300px;
    width: 200px;
}